##
# @description Services (customizations for production)
# @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
# @note        This file is intended to be used as an extension of the 
#              main/primary `docker-compose.yml`, i.e.:               
#              `docker compose \ 
#               -f docker-compose.yml \ 
#               -f docker-compose.prod.yml \
#               up -d`
# @note        Add Traefik configuration to be able to generate platform 
#              certificates using Let's Encrypt
# @note        The current approach creates a volume to share source code
#              between the services `web`, `fpm`, `cli` and `cron`.
#              This does not follow the best practice of being each container
#              a self-contained unit. However, for now, it is considered
#              that this approach has more advantages than
#              creating an image with the respective source code
#              for each service. Sharing the source code
#              with a named volume allows us to avoid having
#              to maintain these images (or one used for all of them).
#              Additionally, it allows us to have a different volume
#              for each release, which
#              could be useful for rollbacks
##
services:
  traefik:
    volumes:
      - ./services/traefik/etc/acme.json:/etc/traefik/acme.json
    environment:
      - TRAEFIK_CERTIFICATESRESOLVERS_LE-HTTP_ACME_EMAIL=${BASE_USER_EMAIL}
      - TRAEFIK_CERTIFICATESRESOLVERS_LE-HTTP_ACME_STORAGE=/etc/traefik/acme.json
      - TRAEFIK_CERTIFICATESRESOLVERS_LE-HTTP_ACME_HTTPCHALLENGE_ENTRYPOINT=web

  varnish:
    labels:
      - traefik.http.routers.https-magento.tls.certresolver=le-http

  web:
    image: ${BASE_WEB_IMAGE_NAME}:latest
    pull_policy: always
    build:
      context: ${BASE_DOC_ROOT_DIR}
      args:
        - BASE_PHP_VERSION=${BASE_PHP_VERSION}
    volumes:
      - docroot:/app
    environment:
      - WITH_XDEBUG=0

  fpm:
    volumes:
      - docroot:/app

  cli:
    volumes:
      - docroot:/app

  cron:
    volumes:
      - docroot:/app

volumes:
  docroot: